@model List<BlackSys.Models.W_SelectArticulosDescuento_Result>

@{
    ViewBag.Title = "NuevoDescuento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nuevo Descuento</h2>

@using (Html.BeginForm("NuevoDescuentoGuardar", "Tienda", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()




    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-12">
            <span>Nombre descuento:</span>
            <input name="Descuento_Nombre" type="text" class="form-control" placeholder="Nombre de descuento">
            @*@Html.ValidationMessageFor(model => model.Descuento_Nombre, "", new { @class = "text-danger" })*@
        </div>
        @*<div class="col-md-6">
                <span>Monto descuento:</span>
                <input name="Codigo" type="text" class="form-control" placeholder="Articulo Nombre">
                @Html.ValidationMessageFor(model => model.Descuento_Nombre, "", new { @class = "text-danger" })
            </div>*@

    </div>
    <br />

    <div class="row">

        @*<div class="form-group">
                @Html.LabelFor(model => model.Descuento_Monto, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Descuento_Monto, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descuento_Monto, "", new { @class = "text-danger" })
                </div>
            </div>*@
        <div class="col-md-6">
            <span>Fecha Inicio:</span>
            <input name="Descuento_Fecha_Inicio" type="datetime-local" class="form-control">
            @*@Html.ValidationMessageFor(model => model.Descuento_Fecha_Inicio, "", new { @class = "text-danger" })*@
        </div>

        <div class="col-md-6">
            <span>Fecha Fin:</span>
            <input name="Descuento_Fecha_Fin" type="datetime-local" class="form-control">
            @*@Html.ValidationMessageFor(model => model.Descuento_Fecha_Final, "", new { @class = "text-danger" })*@
        </div>

    </div>
    <br />

    <div class="row">
        @*<div class="col-md-6">

            <input name="Descuento_Monto" value="0" type="text" class="form-control" placeholder="Monto del descuento">
        </div>*@
        <div class="col-md-12">

            <div id="intro" class="col-md-12">
                <span>Lista de Precio a aplicar:</span>
                @Html.DropDownList("Descuento_Precio", (IEnumerable<SelectListItem>)ViewBag.Descuento_Precio, null, new { @class = "form-control" })

            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="checkbox">
                <span>Lunes</span>
                <input type="checkbox" id="Descuento_Dia1" value="1" name="Descuento_Dia1" checked>
                @*@Html.ValidationMessageFor(model => model.Descuento_Dia1, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="col-md-2">
            <div class="checkbox">
                <span>Martes</span>
                <input type="checkbox" id="Descuento_Dia2" value="1" name="Descuento_Dia2" checked>
            </div>
        </div>

        <div class="col-md-2">
            <div class="checkbox">
                <span>Miercoles</span>
                <input type="checkbox" id="Descuento_Dia3" value="1" name="Descuento_Dia3" checked>
            </div>
        </div>

        <div class="col-md-2">
            <div class="checkbox">
                <span>Jueves</span>
                <input type="checkbox" id="Descuento_Dia4" value="1" name="Descuento_Dia4" checked>
            </div>
        </div>

        <div class="col-md-2">
            <div class="checkbox">
                <span>Viernes</span>
                <input type="checkbox" id="Descuento_Dia5" value="1" name="Descuento_Dia5" checked>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            <div class="checkbox">
                <span>Sabado</span>
                <input type="checkbox" id="Descuento_Dia6" value="1" name="Descuento_Dia6" checked>
            </div>
        </div>

        <div class="col-md-2">
            <div class="checkbox">
                <span>Domingo</span>
                <input type="checkbox" id="Descuento_Dia7" value="1"  name="Descuento_Dia7" checked>
            </div>
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.Descuento_Precio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descuento_Precio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descuento_Precio, "", new { @class = "text-danger" })
            </div>
        </div>*@
    <br />

    <div class="row">
        <div class="col-md-2">
            <div class="checkbox">
                <span>Aplica a Express</span>
                <input type="checkbox" id="AplicaExpress" value="1" name="Descuento_Aplica_Express" checked>
            </div>
        </div>

        @*<div class="col-md-2">
            <div class="checkbox">
                <span>Aplica a Tipos de Clientes</span>
                <input type="checkbox" id="AplicaTiposCliente" value="1" name="Descuento_Aplica_Tipo_Cliente" checked>
            </div>
        </div>*@
    </div>




<br />
@*<div id="partial">

        @Html.Partial("ListarDescuentosParcial")


    </div>*@
<br />
@*<input id="Sustituto_Id" type="hidden" value="@ViewBag.Sustituto_Id" />*@
<div class="form-group">

    <input type="submit" value="Guardar" class="btn btn-default" />

</div>
<div>
    @Html.ActionLink("Regresar al listado", "")
</div>
}