@model List<BlackSys.Models.W_SelectPromocionDescuento_Result>

@{
    ViewBag.Title = "VistaModificarDesc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Modificar Descuento</h2>


<form method="post" action="@Url.Action("Modificardesccuento")">


    @foreach (var item in Model)
    {


        <label>@item.Descuento_Id</label>
        <label>@item.Descuento_Nombre</label>
        <input type="text" name="Descuento_Id" id="Descuento_Id" placeholder="@item.Descuento_Id" value="@item.Descuento_Id" hidden />
        <div class="row">
            <div class="col-md-12">
                <span>Nombre descuento:</span>
                <input name="Descuento_Nombre" value="@item.Descuento_Nombre" type="text" class="form-control" placeholder="Nombre de descuento">
                @*@Html.ValidationMessageFor(model => model.Descuento_Nombre, "", new { @class = "text-danger" })*@
            </div>

        </div>
        <br />

        <div class="row">

            <div class="col-md-6">
                <span>Fecha Inicio:</span>
                <input name="Descuento_Fecha_Inicio"  value="@item.Descuento_Fecha_Inicio" type="datetime" class="form-control">
                @*@Html.ValidationMessageFor(model => model.Descuento_Fecha_Inicio, "", new { @class = "text-danger" })*@
            </div>
            <div class="col-md-6">
                <span>Fecha Fin:</span>
                <input name="Descuento_Fecha_Fin" value="@item.Descuento_Fecha_Final" type="datetime" class="form-control">
                @*@Html.ValidationMessageFor(model => model.Descuento_Fecha_Final, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <br />

        <div class="row">
            @*<div class="col-md-6">
                <input name="Descuento_Monto" value="0" type="text" class="form-control" placeholder="Monto del descuento">
            </div>*@
            <div class="col-md-12">
                <div id="intro" class="col-md-12">
                    <span>Lista de Precio a aplicar:</span>
                    @Html.DropDownList("Descuento_Precio", (IEnumerable<SelectListItem>)ViewBag.Descuento_Precio, null, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="checkbox">
                    <span>Lunes</span>
                    <input type="checkbox" id="Descuento_Dia1" value="1" name="Descuento_Dia1" checked>
                    @*@Html.ValidationMessageFor(model => model.Descuento_Dia1, "", new { @class = "text-danger" })*@
                </div>
            </div>
            <div class="col-md-2">
                <div class="checkbox">
                    <span>Martes</span>
                    <input type="checkbox" id="Descuento_Dia2" value="1" name="Descuento_Dia2" checked>
                </div>
            </div>
            <div class="col-md-2">
                <div class="checkbox">
                    <span>Miercoles</span>
                    <input type="checkbox" id="Descuento_Dia3" value="1" name="Descuento_Dia3" checked>
                </div>
            </div>
            <div class="col-md-2">
                <div class="checkbox">
                    <span>Jueves</span>
                    <input type="checkbox" id="Descuento_Dia4" value="1" name="Descuento_Dia4" checked>
                </div>
            </div>
            <div class="col-md-2">
                <div class="checkbox">
                    <span>Viernes</span>
                    <input type="checkbox" id="Descuento_Dia5" value="1" name="Descuento_Dia5" checked>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <div class="checkbox">
                    <span>Sabado</span>
                    <input type="checkbox" id="Descuento_Dia6" value="1" name="Descuento_Dia6" checked>
                </div>
            </div>
            <div class="col-md-2">
                <div class="checkbox">
                    <span>Domingo</span>
                    <input type="checkbox" id="Descuento_Dia7" value="1" name="Descuento_Dia7" checked>
                </div>
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.Descuento_Precio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Descuento_Precio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descuento_Precio, "", new { @class = "text-danger" })
                </div>
            </div>*@
        <br />

        <div class="row">
            <div class="col-md-2">
                <div class="checkbox">
                    <span>Aplica a Express</span>
                    <input type="checkbox" id="Descuento_Aplica_Express" value="1" name="Descuento_Aplica_Express" checked>
                </div>
            </div>
            @*<div class="col-md-2">
                <div class="checkbox">
                    <span>Aplica a Tipos de Clientes</span>
                    <input type="checkbox" id="Descuento_Aplica_Tipo_Cliente" value="1" name="Descuento_Aplica_Tipo_Cliente" checked>
                </div>
            </div>*@
        </div>




        <br />
        @*<div id="partial">

                @Html.Partial("ListarDescuentosParcial")


            </div>*@
        <br />
        @*<input id="Sustituto_Id" type="hidden" value="@ViewBag.Sustituto_Id" />*@
        <div class="form-group">
            <input type="submit" value="Guardar" class="btn btn-default" />
        </div>
        <div>
            @Html.ActionLink("Regresar al listado", "")
        </div>
        <script>
            //Condiciones para pasar el valor que debe mostrar el droplist
            document.getElementById('Descuento_Precio').value = @item.Descuento_Precio;
            //Condiciones para activar o desactivar Chekbooks
            if (@item.Descuento_Dia1 > 0)
            { document.getElementById('Descuento_Dia1').checked = true }
            else {document.getElementById('Descuento_Dia1').checked = false}

            if (@item.Descuento_Dia2> 0)
            { document.getElementById('Descuento_Dia2').checked = true }
            else {document.getElementById('Descuento_Dia2').checked = false}

            if (@item.Descuento_Dia3> 0)
            { document.getElementById('Descuento_Dia3').checked = true }
            else {document.getElementById('Descuento_Dia3').checked = false}

            if (@item.Descuento_Dia4> 0)
            { document.getElementById('Descuento_Dia4').checked = true }
            else {document.getElementById('Descuento_Dia4').checked = false}

            if (@item.Descuento_Dia5> 0)
            { document.getElementById('Descuento_Dia5').checked = true }
            else {document.getElementById('Descuento_Dia5').checked = false}

            if (@item.Descuento_Dia6> 0)
            { document.getElementById('Descuento_Dia6').checked = true }
            else {document.getElementById('Descuento_Dia6').checked = false}

            if (@item.Descuento_Dia7> 0)
            { document.getElementById('Descuento_Dia7').checked = true }
            else {document.getElementById('Descuento_Dia7').checked = false}

            if (@item.Descuento_Aplica_Express> 0)
            { document.getElementById('Descuento_Aplica_Express').checked = true }
            else {document.getElementById('Descuento_Aplica_Express').checked = false}

            if (@item.Descuento_Dia7> 0)
            { document.getElementById('Descuento_Dia7').checked = true }
            else {document.getElementById('Descuento_Dia7').checked = false}

            if (@item.Descuento_Aplica_Tipo_Cliente> 0)
            { document.getElementById('Descuento_Aplica_Tipo_Cliente').checked = true }
            else {document.getElementById('Descuento_Aplica_Tipo_Cliente').checked = false}


        </script>
    }
 </form>

