@model List<MiPrimerProyectoMVC.Model.W_Existencias_Result1>
@{
    ViewBag.Title = "Existencias";
    Layout = "~/Views/Shared/_AdminLte.cshtml";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*Neccesarios para Exportar Js*@
    <script src="~/assets/js/popper.min.js"></script>
    <link href="~/assets/Exportar Js/tableexport.css" rel="stylesheet" />
</head>
<div class="row">
   
    <div class="col-lg-6">
        <div class="input-group">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModalLong">Ayuda</button>
            <button type="button" id="btnCargar" class="btn btn-info" onclick="Consultar()">Buscar</button>
            <input name="Articulo_Id" id="Articulo_Id" type="text" class="form-control" placeholder="Diginte aqui el Codigo del Articulo">

        </div>
    </div>
   

</div>
<br />

<div class="row">

    <div id="partial" class="col-md-12">

        @Html.Partial("ExistenciasPart")


    </div>
</div>


<script>

    function Consultar() {
        var Articulo_Id = $("#Articulo_Id").val();
        //var OrdenId = $("#OrdenId").val();

        //$("#partial").load('@Url.Action("ExistenciasPart", "Bodega")' + '?Articulo=' + Articulo + '&OrdenId=' + OrdenId);
        $("#partial").load('@Url.Action("ExistenciasPart", "Bodega")' + '?Articulo_Id=' + Articulo_Id);
    };
</script>





@*<script>
        $(function () {
            $("#btnCargar").click(function () {
                //$(this).prop("disabled","disabled");
                var Articulo = $("#Articulo_Id").val();

                var url = "@Url.Action("ExistenciasPart", "Bodega")";
                $.get(url).done(function (Articulo) {
                    $("#partial").append(data);
                });


            });
        });
</script>*@


@*<script>


                $(document).ready(function () {

                    $("#Vendedor").change(function () {
                        alertify.notify('Cargando', 'success', 1, null);
                        var Vendedor = $("#Vendedor").val();
                        $("#partial").load('@(Url.Action("ListaClientesRecetario", "Sucursal",null, Request.Url.Scheme))?Vendedor=' + Vendedor);

                    });
                });
</script>*@

@*<script>
                $(document).ready(function () {
                    $("#Vendedor").change(function () {
                        alertify.notify('Cargando', 'success', 1, null);
                        var Vendedor = $("#Vendedor").val();
                        $("#partial").load('@(Url.Action("ListaClientesRecetario", "Sucursal",null, Request.Url.Scheme))?Vendedor=' + Vendedor);

                    });
                });
</script>*@




<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Ayuda al Usuario</h5>
                <button type="button" class="close" data-nsdismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Genera una lista de clientes que han comprado articulos clasificados como cronicos <br />
                y que apartir de su fecha de compra su tratamiento esta pronto a agotarse<br />
                Las notificaciones se realizan atravez de la interfaz de WhatsApp con ayuda del<br />
                mensaje automatico que se genera al consultar la informacion del cliente.
                Procedimiento:<br />
                1-Seleecionar el vendedor a consultar<br />
                2-Al obtener la lista de clientes seleccionar el boton Info. si el cliente <br />
                no posee Numero Celular no se podra notificar por esta via. El sistema unicamente <br />
                podra notificar por EMAIL.
                3-Si el numero celular es valido seleccionar el numero en el panel derecho y utilizar <br />
                la integraciono de WhatsApp.

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
                @* <button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });

</script>
