@model IEnumerable<BlackSys.Models.W_SpPeidoSugeridoCallcenterCentralizadoB_Result>
@{
    ViewBag.Title = "SugeridoComprasC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*Neccesarios para Exportar Js*@


    @*<script src="~/Content/DynaTables/jquery-1.7.2.min.js"></script>
        <link href="~/Content/DynaTables/jquery.dynatable.css" rel="stylesheet" />
        <script src="~/Content/DynaTables/jquery.dynatable.js"></script>*@

   
   

</head>

<div class="container container-fluid ">


    @*<button onclick="exportTableToExcel('tableID')">Exportar Excel</button>*@
  

    <table id="example" class="display" style="width:100%">


        @*<table class="table table-striped" id="my-tableDino23">*@
        @*<table id="example" class="cell-border" style="width:100%">*@
        <thead>
            <tr>
                <th>Casa_Nombre</th>
                <th>Equivalente_Id</th>
                <th>Articulo_id</th>
                <th>Articulo_Nombre</th>
                <th>_04</th>
                <th>_05</th>
                <th>_06</th>
                <th>_07</th>
                <th>_08</th>
                <th>_09</th>
                <th>_10</th>
                <th>_11</th>
                <th>_12</th>
                <th>_13</th>
                <th>_14</th>
                <th>_15</th>
                <th>_16</th>
                <th>_17</th>
                <th>_18</th>
                <th>_19</th>
                <th>_20</th>
                <th>_21</th>
                <th>_22</th>
                <th>_23</th>
                <th>_24</th>
                <th>_25</th>
                <th>_26</th>
                <th>_27</th>
                <th>_28</th>
                <th>_29</th>
                <th>_30</th>
                <th>_31</th>
                <th>_32</th>
                <th>_33</th>
                <th>_34</th>
                <th>_35</th>
                <th>_36</th>
                <th>_37</th>
                <th>_38</th>

                <th>_39</th>
                <th>_40</th>
                <th>_41</th>
                <th>TotUnidadesPy</th>
                <th>SugeridoBodega</th>
                <th>CostoUltCompra</th>
                <th>ExistBod</th>
                <th>InventarioCadena</th>
                <th>P2M</th>
                <th>Riesgo</th>
                <th>Articulo_Centralizado</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Casa_Nombre)</td>


                    <td>
                        @Html.DisplayFor(modelItem => item.Equivalente_Id)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Articulo_id)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Articulo_Nombre)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.C_04)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.C_05)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.C_06)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.C_07)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.C_08)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.C_09)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.C_10)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.C_11)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.C_12)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.C_13)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.C_14)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.C_15)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.C_16)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.C_17)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.C_18)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.C_19)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.C_20)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.C_21)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.C_22)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.C_23)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.C_24)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.C_25)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.C_26)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.C_27)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.C_28)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.C_29)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.C_30)

                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.C_31)

                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.C_32)

                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.C_33)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.C_34)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.C_35)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.C_36)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.C_37)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.C_38)

                    </td>
                    <td> @Html.DisplayFor(modelItem => item.C_39)</td>
                    <td> @Html.DisplayFor(modelItem => item.C_40)</td>
                    <td> @Html.DisplayFor(modelItem => item.C_41)</td>
                    <td>@Html.DisplayFor(modelItem => item.TotUnidadesPy)</td>
                    <td>@Html.DisplayFor(modelItem => item.SugeridoBodega)</td>
                    <td>@Html.DisplayFor(modelItem => item.CostoUltCompra)</td>
                    <td>@Html.DisplayFor(modelItem => item.ExistBod)</td>
                    <td>@Html.DisplayFor(modelItem => item.InventarioCadena)</td>
                    <td>@Html.DisplayFor(modelItem => item.P2M)</td>
                    <td>@Html.DisplayFor(modelItem => item.Riesgo)</td>
                    <td>@Html.DisplayFor(modelItem => item.Centralizado)</td>



                </tr>
            }

        </tbody>
    </table>

    </div>

 

<script>
                $(document).ready(function () {
                    $('#example').DataTable({
                        dom: 'Bfrtip',
                        buttons: [
                            'excelHtml5',
                      
                        ]
                    });
                });
</script>


   
@*<script>
    function exportTableToExcel(tableID) {
        //alertify.success("Se iniciara la Descarga del Archivo");
        var downloadLink;
        var filename = 'Exportar';
        var dataType = 'application/vnd.ms-excel';
        var tableSelect = document.getElementById('tableID');
        var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');

        // Specify file name
        filename = filename ? filename + '.xls' : 'excel_data.xls';

        // Create download link element
        downloadLink = document.createElement("a");

        document.body.appendChild(downloadLink);

        if (navigator.msSaveOrOpenBlob) {
            var blob = new Blob(['ufeff', tableHTML], {
                type: dataType
            });
            navigator.msSaveOrOpenBlob(blob, filename);
        } else {
            // Create a link to the file
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

            // Setting the file name
            downloadLink.download = filename;

            //triggering the function
            downloadLink.click();
        }
    }
</script>*@
