@model System.Data.DataTable
@using System.Data;
@{
    ViewBag.Title = "ImportarArchivo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*Neccesarios para Exportar Js*@
    <script src="~/assets/js/popper.min.js"></script>
    <link href="~/assets/Exportar Js/tableexport.css" rel="stylesheet" />
    <link href="~/Content/DynaTables/jquery.dynatable.css" rel="stylesheet" />
    <script src="~/Content/DynaTables/jquery.dynatable.js"></script>
</head>

<h2>Cargar archivo Sugerido de Compras</h2>

@using (Html.BeginForm("Upload", "Compras", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @*@Html.AntiForgeryToken()
    @Html.ValidationSummary()*@

    <div class="form-group">
        <input type="file" id="dataFile" name="upload" />
    </div>

    <div class="form-group">
        <input type="submit" value="Cargar" class="btn btn-default" />
        @*<input type="button" value="Convertir" class="btn btn-default" />*@
    </div>
  

    if (Model != null)
    {
        <table class="table table-striped" id="my-tableDino23">
            <thead>
                <tr>
                    @foreach (DataColumn col in Model.Columns)
                    {



                        if (@col.ColumnName == "Código")
                        {

                              <th>Articulo</th>
                        }
                        else
                        {
                            if (@col.ColumnName == "SUC[Descripción]")
                            {

                            }
                            else
                            {
                                <th>@col.ColumnName</th>
                            }


                        }


                    }
                


                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in Model.Rows)
                {
                    <tr>
                        @foreach (DataColumn col in Model.Columns)
                        {

                           @*foreach (DataColumn cols in Model.Columns)
                            {
                                if (@cols.ColumnName == "SUC[1]")
                                {
                                    <td>@row[col.ColumnName]</td>
                                }

                               

                            }*@

                          if (@col.ColumnName == "SUC[Descripción]")
                            {

                            }
                            else
                            {

                                <td>@row[col.ColumnName]</td>

                            }



                            
                        }
                    </tr>
                }
            </tbody>
        </table>
       
    }
}

    @*<table class="table table-striped" id="my-tableDino23">
        <thead>
            <tr>
                @foreach (DataColumn col in Model.Columns)
                {
                    <th>@col.ColumnName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in Model.Rows)
                {
                <tr>
                    @foreach (DataColumn col in Model.Columns)
                    {
                        <td>@row[col.ColumnName]</td>
                    }
                </tr>
            }
        </tbody>
    </table>*@

<script>

        $('#my-tableDino23').dynatable({
            table: {
                defaultColumnIdStyle: 'dashed'
            }
        });


</script>

<script src="~/assets/Exportar Js/FileSaver.min.js"></script>
<script src="~/assets/Exportar Js/Blob.min.js"></script>
<script src="~/assets/Exportar Js/xls.core.min.js"></script>
<script src="~/assets/Exportar Js/tableexport.js"></script>
@*<link href="~/assets/css/FormatoTablaScroll.css" rel="stylesheet" />*@

<script>
            $("table").tableExport({
                formats: ["xlsx", "txt", "csv"], //Tipo de archivos a exportar ("xlsx","txt", "csv", "xls")
                position: 'button',  // Posicion que se muestran los botones puedes ser: (top, bottom)
                bootstrap: false,//Usar lo estilos de css de bootstrap para los botones (true, false)
                fileName: "Sugeridos",    //Nombre del archivo
            });
</script>