@model IEnumerable<MiPrimerProyectoMVC.Model.TblUsuarioCliente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLte.cshtml";
}

<br />

<div class="container">

    @*<div class="panel panel-primary" style="width:auto;margin:0px auto">*@


        <div class="panel-heading" id="mypanelId">
            Listado de Clientes @Html.ActionLink("Crear nuevo ", "Create", null, new { @class = "btn btn-primary btn-large" })
         

        </div>

        <label>Registros encontrados:@Model.Count()</label>
        <form style="text-align:left">
            <span class="glyphicon glyphicon-search"></span>
            <label id="bus" tabindex="0" onfocus="bus">Escriba para buscar coincidencias:</label>
            <input class="col-lg-12" id="searchTerm" type="text" onkeyup="doSearch()" />
        </form>

        <div class="panel-body">
            <table class="table table-striped" id="my-tableDino23" style="width:100%">
                <tr>
                    <th>
                        Logo
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Codigo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    @*<th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>*@
                    <th>
                        Piso
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Fecha)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Activo)
                    </th>
                    @*<th>
                    @Html.DisplayNameFor(model => model.NombreRazonSocial)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NombreContacto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CargoNombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TelefonoContacto)
                </th>*@
                    <th>
                        Area
                    </th>
                    <th>
                        Sector
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>


                        <td>
                            @*<img alt="" src='@Url.Action("GetImageFromDatabase","TblUsuarioClientes", new { id = item.Id })' />*@
                            @*@Html.DisplayFor(modelItem => item.Imagen)*@
                            <img src="/TblUsuarioClientes/RetrieveImage/@item.Id" alt="" height=80 width=120 />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Codigo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        @*<td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.PisoId)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Activo)
                        </td>
                        @*<td>
                        @Html.DisplayFor(modelItem => item.NombreRazonSocial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreContacto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CargoNombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TelefonoContacto)
                    </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.TblArea.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TblSector.Nombre)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                            @Html.ActionLink("Ver detalles", "Details", new { id = item.Id }, new { @class = "btn btn-warning" })
                            @*@Html.ActionLink("Desactivar", "Delete", new { id = item.Id }, new { @class = "btn btn-warning" })*@

                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
@*</div>*@



<script type="text/javascript">
  // To make Pace works on Ajax calls
  $(document).ajaxStart(function () {
    Pace.restart()
  })
  $('.ajax').click(function () {
    $.ajax({
      url: '#', success: function (result) {
        $('.ajax-content').html('<hr>Ajax Request Completed !')
      }
    })
  })
</script>

<script>

                $('#my-tableDino23').dynatable({
                    table: {
                        defaultColumnIdStyle: 'camelCase'
                    }
                });

</script>
