@model List<BlackSys.Models.W_EjecutarAnalisisCartera_Result>
@{
    ViewBag.Title = "ReporteAnalisisCartera";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*Neccesarios para Exportar Js*@
    <script src="~/assets/js/popper.min.js"></script>
    <link href="~/assets/Exportar Js/tableexport.css" rel="stylesheet" />

    @*<script src="~/Content/DynaTables/jquery-1.7.2.min.js"></script>*@
        <link href="~/Content/DynaTables/jquery.dynatable.css" rel="stylesheet" />
        <script src="~/Content/DynaTables/jquery.dynatable.js"></script>
</head>
<div class="container container-fluid ">


    <table class="table table-striped" id="my-tableDino23">
        <thead>
            <tr>
                <th>CadenaId</th>
                <th>Nombre</th>
                <th>SinVencer</th>
                <th>_0_30</th>
                <th>_31_60</th>
                <th>_61_90</th>
                <th>_91_120</th>
                <th>_Mas120</th>
                <th>_Total</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.CadenaId)</td>


                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.SinVencer)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.C_0_30)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.C_31_60)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.C_61_90)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.C_91_120)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.C_Mas120)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.C_Total)
                        </td>



                    </tr>
                }

        </tbody>
    </table>

</div>

<!-- Llamar a los complementos javascript-->
@*<script src="jquery-1.12.4.min.js"></script>*@
@*<script src="FileSaver.min.js"></script>
    <script src="Blob.min.js"></script>
    <script src="xls.core.min.js"></script>
    <script src="dist/js/tableexport.js"></script>*@
<script>

        $('#my-tableDino23').dynatable({
            table: {
                defaultColumnIdStyle: 'dashed'
            }
        });


    </script>

<script src="~/assets/Exportar Js/FileSaver.min.js"></script>
<script src="~/assets/Exportar Js/Blob.min.js"></script>
<script src="~/assets/Exportar Js/xls.core.min.js"></script>
<script src="~/assets/Exportar Js/tableexport.js"></script>

<script>
            $("table").tableExport({
                formats: ["xlsx", "txt", "csv"], //Tipo de archivos a exportar ("xlsx","txt", "csv", "xls")
                position: 'button',  // Posicion que se muestran los botones puedes ser: (top, bottom)
                bootstrap: false,//Usar lo estilos de css de bootstrap para los botones (true, false)
                fileName: "Export",    //Nombre del archivo
            });
</script>
@*</div>*@

