@model List <BlackSys.Models.W_SelectArticulosSustitutos_Result>
@{
    ViewBag.Title = "Listado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*Neccesarios para Exportar Js*@
    <script src="~/assets/js/popper.min.js"></script>
    <link href="~/assets/Exportar Js/tableexport.css" rel="stylesheet" />

    <link href="~/Content/DynaTables/jquery.dynatable.css" rel="stylesheet" />
    <script src="~/Content/DynaTables/jquery.dynatable.js"></script>
</head>



<!DOCTYPE html>
<html>
<head>

    <script src="~/Content/css/CSS Personalizado/zelect.js"></script>
    <link rel="stylesheet" href="http://css.cdn.tl/normalize.css" />
    <link href="~/Content/css/CSS Personalizado/CssDropList.css" rel="stylesheet" />
    <script>
    $(setup)

    function setup() {
      $('#intro select').zelect({ placeholder:'Buscar Articulo' })
    }
    </script>
</head>
<body>

    <div class="container">
        <h2>Asignacion de sustitutos / Equivalentes</h2>
        <br />
        <div class="panel panel-default">
            <br />
            <br />
                @*<div class="form-group">*@

                    <div class="row">
                        <div class="col-md-1">
                  

                        </div>
                        <div id="intro" class="col-md-8">
                            @*<h4 class="control-label col-md-8">Lista de  Articulo</h4>*@
                            @Html.DropDownList("Articulos", (IEnumerable<SelectListItem>)ViewBag.Articulos, null, new { @class = "form-control" })


                        </div>
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-2">
                            <button type="button" onclick="AgregarItem()" class="btn btn-primary">Agregar</button>
                        </div>
                    </div>

                @*</div>*@

            <div class="row">
                <div class="col-md-1">

                </div>
                <div class="col-md-8">
                    <section id="intro">
                        <h2>Tipo</h2>
                        <select id="SelectTipo">
                            <option>SU</option>
                            <option>EQ</option>
                            @*<option>significantly more</option>
                <option>relevant example data</option>
                <option>here.</option>
                <option>Also, need more and longer items</option>
                <option>to demo scroll</option>*@
                        </select>
                    </section>
                </div>
            </div>
           
        </div>
    </div>

    
</body>
</html>

<hr />

<div id="partial">

    @Html.Partial("ListaAsociada")


</div>
<input id="Sustituto_Id" type="hidden" value="@ViewBag.Sustituto_Id"/>
@*<script>
    function CargarParcial() {
        alertify.notify('Cargando articulos asociados', 'success', 1, null);
        var Nombre = id;
        $("#partial").load('@(Url.Action("ListaAsociada", "TblArticulo_Sustituto", null, Request.Url.Scheme))?Sustituto_Id=' + @ViewBag.Sustituto_Id);

             };
</script>*@



<script>
    document.querySelector("#buscar").onkeyup = function () {
        $TableFilter("#my-tableDino23", this.value);
    }

    $TableFilter = function (id, value) {
        var rows = document.querySelectorAll(id + ' tbody tr');

        for (var i = 0; i < rows.length; i++) {
            var showRow = false;

            var row = rows[i];
            row.style.display = 'none';

            for (var x = 0; x < row.childElementCount; x++) {
                if (row.children[x].textContent.toLowerCase().indexOf(value.toLowerCase().trim()) > -1) {
                    showRow = true;
                    break;
                }
            }

            if (showRow) {
                row.style.display = null;
            }
        }
    }
</script>


<script>

        $('#my-tableDino23').dynatable({
            table: {
                defaultColumnIdStyle: 'dashed'
            }
        });


</script>

<script>

    function AgregarItem() {
        var Codigo = $("#Articulos").val();
        var Descripcion = $("#Articulos").text();
        var SelectTipo = $("#SelectTipo").val();
        var Sustituto_Id = $("#Sustituto_Id").val();
        alertify.success("Articulo Asociado exitosamente");
        $("#partial").load('@Url.Action("ListaAsociada", "TblArticulo_Sustituto")' + '?Sustituto_Id=' + Sustituto_Id + '&Codigo=' + Codigo + '&SelectTipo=' + SelectTipo);        
    };
</script>