@model List<BlackSys.Models.Dal.Asignatura>
@{
    ViewBag.Title = "Index";

}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*Neccesarios para Exportar Js*@
    @*<script src="~/assets/js/popper.min.js"></script>*@
    <link href="~/assets/Exportar Js/tableexport.css" rel="stylesheet" />

    <link href="~/Content/DynaTables/jquery.dynatable.css" rel="stylesheet" />
    <script src="~/Scripts/Controller/Root/Asignatura/ParicalListado.js"></script>

    @*<script src="~/Content/DynaTables/jquery.dynatable.js"></script>*@
</head>


<div class="row">

    <div class="col-md-12">

        <table class="table table-striped table-bordered table-hover dt-responsive" id="my-tableDino23" cellspacing="0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Identificador</th>
                    <th>Nombre</th>
                    <th>Ult Modificacion</th>
                    <th>Activo</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="numero">@Html.DisplayFor(modelItem => item.Id)</td>
                        <td class="numero">@Html.DisplayFor(modelItem => item.Identificador)</td>
                        <td class="numero">@Html.DisplayFor(modelItem => item.Nombre)</td>
                        <td class="numero">@Html.DisplayFor(modelItem => item.FechaModifica)</td>
                        <td class="numero">@Html.DisplayFor(modelItem => item.Activo)</td>
                        <td>

                            @Html.ActionLink("Detalles", "Details", new { Id = item.Id }, new { @class = "btn btn-primary details-link", data_toggle = "modal", data_target = "#myModal" })
                        </td>
                    </tr>
                }

            </tbody>
        </table>


    </div>
</div>
<!-- Contenido de la ventana modal -->
<div class="modal fade custom-modal" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Puedes cargar tu vista modal aquí -->
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Título de la Ventana Modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Contenido de tu vista modal -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <!-- Puedes agregar más botones según sea necesario -->
            </div>
        </div>
    </div>
</div>

<!-- Agrega este script después de incluir Bootstrap -->
<script>
    // Llama a esta función para mostrar la ventana modal
    function openModal() {
        var myModal = new bootstrap.Modal(document.getElementById('myModal'));
        myModal.show();
    }
</script>

<script>
    document.querySelector("#buscar").onkeyup = function () {
        $TableFilter("#my-tableDino23", this.value);
    }

    $TableFilter = function (id, value) {
        var rows = document.querySelectorAll(id + ' tbody tr');

        for (var i = 0; i < rows.length; i++) {
            var showRow = false;

            var row = rows[i];
            row.style.display = 'none';

            for (var x = 0; x < row.childElementCount; x++) {
                if (row.children[x].textContent.toLowerCase().indexOf(value.toLowerCase().trim()) > -1) {
                    showRow = true;
                    break;
                }
            }

            if (showRow) {
                row.style.display = null;
            }
        }
    }</script>


<script>
    $('#my-tableDino23').dynatable({
        table: {
            defaultColumnIdStyle: 'dashed'
        }
    });</script>
<style>
    .loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('images/pageLoader.gif') 50% 50% no-repeat rgb(249,249,249);
        opacity: .8;
    }
</style>

<script type="text/javascript">
    $(window).load(function () {
        $(".loader").fadeOut("slow");
    });</script>


<style>
    .custom-modal {
        max-width: 100%; /* Personaliza según tus necesidades .custom-modal*/
        margin: 0 auto; /* Centra el modal horizontalmente 
    }
</style>
