
@model  BlackSys.Models.ViewModel.DocenteViewModel
    <head>
        <script src="~/Scripts/Controller/Root/Docentes/Details.js"></script>
    </head>

    <table class="table table-striped table-bordered table-hover dt-responsive" id="my-tableDino23" cellspacing="0">
        <thead>
            <tr>
                <th>Identificador</th>
                <th>Asignatura</th>

            </tr>
        </thead>
        @*@Html.HiddenFor(Model.docente.Id)*@
        @Html.HiddenFor(model => model.docente.Id)
       
        <tbody>

            @foreach (var ModelD in Model.asignaturasView)
            {

                <tr>
                    <td>@ModelD.Identificador</td>
                    <td>@ModelD.Asignatura</td>

                    <td>

                        @*@Html.ActionLink("Eliminar", "Eliminar", new { id = ModelD.DocenteId,AsignaturaId= ModelD.Identificador }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('¿Estás seguro de que deseas eliminar esta Asignatura?');" })*@
                        @*@Html.ActionLink("Eliminar", "Eliminar", new { id = ModelD.DocenteId, AsignaturaId = ModelD.Identificador }, new { @class = "btn btn-danger btn-sm", onclick = "AlertDesasociarAsignatura('@ModelD.Identificador')" })*@
                        @*<a onclick="AlertDesasociarAsignatura('@ModelD.AsignaturaId')" class="btn btn-danger btn-sm">Desasociar</a>*@
                        <a onclick="AlertDesasociarAsignatura('@ModelD.AsignaturaId')" class="btn btn-danger btn-sm">Desasociar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>