@model List<BlackSys.Models.Dal.ViewDocenteAsignatura>
<div class="row">
    <div id="intro" class="col-xs-7">

        @Html.DropDownList("Asignaturas", (IEnumerable<SelectListItem>)ViewBag.Asignaturas, null, new { @class = "form-control" })

    </div>

    <div class="col-xs-1">
        <button type="button" onclick="AgregarItem()" class="btn btn-primary glyphicon glyphicon-plus"></button>
    </div>

    @*<div class="col-md-1">
            <button type="submit" class="btn btn-primary glyphicon glyphicon-save">Guardar</button>
        </div>*@
</div>

<table class="table table-striped table-bordered table-hover dt-responsive" id="my-tableDino23" cellspacing="0">
    <thead>
        <tr>
            <th>Identificador</th>
            <th>Asignatura</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var ModelD in Model)
        {
            <tr>
                <td>@ModelD.Identificador</td>
                <td>@ModelD.Asignatura</td>

                <td>
                    @Html.ActionLink("Modificar", "Editar", new { id = ModelD.Identificador }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Eliminar", "Eliminar", new { id = ModelD.Identificador }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('¿Estás seguro de que deseas eliminar esta Asignatura?');" })
                </td>
            </tr>
        }
    </tbody>
</table>