@model BlackSys.Models.ViewModel.DocenteViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Document Title -->
        <title>Vertical Tabs CSS Using HTML & JavaScript</title>

        <!-- Fav Icon -->
        @*<link rel="icon" type="image/png" href="./dist/images/favicon.png" />*@

        <!-- Icon Fonts -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,800;0,100;1,800;1,700&family=Source+Sans+Pro:ital,wght@0,800;0,700;1,400;1,700&display=swap" rel="stylesheet" />

        <!-- CSS Files -->

        <link href="~/Content/vertical-tabs-css/dist/css/style.css" rel="stylesheet" />
    </head>
}

<body class="home">
    <div class="site-wrapper">
        <section class="article-wrapper">
            <div class="article-container">
                <div class="article-block">
                    @*<div class="entry-content">
                            <h1>Makeup Essentials</h1>
                            <p>The ultimate guide to creating the ultimate makeup collection.</p>
                        </div>*@
                </div>
            </div>
        </section>
        <section class="tabs-wrapper">
            <div class="tabs-container">
                <div class="tabs-block">
                    <div id="tabs-section" class="tabs">
                        <ul class="tab-head">
                            <li>
                                <a href="#tab-1" class="tab-link active"> <span class="material-icons tab-icon">face</span> <span class="tab-label">Datos Personales</span></a>
                            </li>
                            <li>
                                <a href="#tab-2" class="tab-link"> <span class="material-icons tab-icon">visibility</span> <span class="tab-label">Historial Academico"</span></a>
                            </li>
                            <li>
                                <a href="#tab-3" class="tab-link"> <span class="material-icons tab-icon">settings_input_hdmi</span> <span class="tab-label">Estudios</span></a>
                            </li>
                            <li>
                                <a href="#tab-4" class="tab-link"> <span class="material-icons tab-icon">build</span> <span class="tab-label">Asignaciones</span></a>
                            </li>
                            <li>
                                <a href="#tab-5" class="tab-link"> <span class="material-icons tab-icon">toll</span> <span class="tab-label">Horarios</span></a>
                            </li>
                            <li>
                                <br />
                                @*<a href="#tab-5" class="tab-link"> <span class="material-icons tab-icon">toll</span> <span class="tab-label">Horarios</span></a>*@
                            </li>
                        </ul>
                        <br />

                        <section id="tab-1" class="tab-body entry-content active active-content">

                            <div class="row">
                                <div class="col-md-3">
                                    <span>Id:</span>
                                    @Html.EditorFor(model => model.docente.Id, new { htmlAttributes = new { @class = "form-control col-md-3" } })
                                    @Html.ValidationMessageFor(model => model.docente.Id, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-lg-12">
                                    <span>Nombre:</span>
                                    @Html.EditorFor(model => model.docente.Nombre, new { htmlAttributes = new { @class = "form-control col-md-8" } })
                                    @Html.ValidationMessageFor(model => model.docente.Nombre, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-lg-12">
                                    <span>Cedula:</span>
                                    @Html.EditorFor(model => model.docente.Cedula, new { htmlAttributes = new { @class = "form-control col-md-8" } })
                                    @Html.ValidationMessageFor(model => model.docente.Cedula, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-lg-12">
                                    <span>Direccion:</span>
                                    @Html.EditorFor(model => model.docente.Direccion, new { htmlAttributes = new { @class = "form-control col-lg-12" } })
                                    @Html.ValidationMessageFor(model => model.docente.Direccion, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <span>Teléfono:</span>
                                    @Html.EditorFor(model => model.docente.Telefono, new { htmlAttributes = new { @class = "form-control col-lg-4" } })
                                    @Html.ValidationMessageFor(model => model.docente.Telefono, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-lg-4">
                                    <span>Celular:</span>
                                    @Html.EditorFor(model => model.docente.Celular, new { htmlAttributes = new { @class = "form-control col-lg-4" } })
                                    @Html.ValidationMessageFor(model => model.docente.Celular, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-lg-4">
                                    <span>Correo:</span>
                                    @Html.EditorFor(model => model.docente.Email, new { htmlAttributes = new { @class = "form-control col-lg-4" } })
                                    @Html.ValidationMessageFor(model => model.docente.Email, "", new { @class = "text-danger" })
                                </div>

                            </div>
                        </section>
                   

                        <section id="tab-2" class="tab-body entry-content">
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.docente.Id, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.docente.Id, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.docente.Id, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.docente.Nombre, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.docente.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.docente.Nombre, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    @Html.LabelFor(model => model.docente.Nombre, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.docente.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.docente.Nombre, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            

                        </section>

                        <section id="tab-3" class="tab-body entry-content">
                            <h2>BB Cream</h2>
                            <p>Personally, I prefer BB cream to regular foundation, as I find it to be much more natural-looking. It is a great option if you’re looking for something that has skincare benefits such as moisturizing or priming (some BB creams have primer built in).</p>
                            <p>In addition, if you are new to the makeup world, a good BB cream is an even better place to start than foundation, as it feels lighter on the skin, is hard to overdo, and can be applied with your fingers.</p>
                        </section>

                        <section id="tab-4" class="tab-body entry-content">
                            <h2>Concealer</h2>
                            <p>If you have acne, dark circles, or any kind of discoloration, concealer is a must-have.</p>
                            <p>Concealers come in full-coverage and sheerer-coverage formulations, and which one you should choose depends on how much you’re trying to cover up.</p>
                            <p>When choosing a concealer for acne and/or discoloration, find a shade that is as close as possible to your foundation/BB cream shade for the most natural look.</p>
                        </section>

                        <section id="tab-5" class="tab-body entry-content">
                            <h2>Blush</h2>
                            <p>Putting on blush can have a huge effect on your overall look, and I personally never leave it out of my makeup routine. Blush is especially necessary if you’re wearing a foundation with more opaque coverage, which can sometimes leave your complexion looking a little bit flat.</p>
                            <p>Blush comes in powder, gel, and cream formulations, with powder being the most popular. Recently, though, cream and gel blush have become very popular as well.</p>
                        </section>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <!-- Javascript Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/Content/vertical-tabs-css/dist/js/app.js"></script>
</body>

