@model BlackSys.Models.TblSucursal

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Create</h2>*@

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-offset-1 col-md-12">
            <!-- general form elements -->
            <div class="box box-primary" style="width:1200px;margin:20px auto">
                <div class="box-header with-border">
                    <h3 class="box-title">Nueva Sucursal</h3>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @*<h4>TblSucursal</h4>*@
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @*@Html.LabelFor(model => model.EmpId, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <div class="col-md-4">
                                    <span>Empresa Id:</span>
                                    @Html.EditorFor(model => model.EmpId, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.EmpId, "", new { @class = "text-danger" })
                                </div>

                                @*@Html.LabelFor(model => model.SucId, htmlAttributes: new { @class = "control-label col-md-1" })*@
                                <div class="col-md-4">
                                    <span>SucID:</span>
                                    @Html.EditorFor(model => model.SucId, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SucId, "", new { @class = "text-danger" })
                                </div>
                            </div>



                            <div class="form-group">
                                @*@Html.LabelFor(model => model.SucNombre, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <div class="col-md-4">
                                    @Html.ValidationMessageFor(model => model.SucNombre, "", new { @class = "text-danger" })
                                </div>

                                @*@Html.LabelFor(model => model.SucDireccion, htmlAttributes: new { @class = "control-label col-md-1" })*@
                                <div class="col-md-4">
                                    <span>Direccion:</span>
                                    @Html.EditorFor(model => model.SucDireccion, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SucDireccion, "", new { @class = "text-danger" })
                                </div>
                            </div>



                            <div class="form-group">
                                @*@Html.LabelFor(model => model.SucEmail, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <div class="col-md-4">
                                    <span>Correo Electronico:</span>
                                    @Html.EditorFor(model => model.SucEmail, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SucEmail, "", new { @class = "text-danger" })
                                </div>

                                @*@Html.LabelFor(model => model.SucTelefono, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <div class="col-md-4">
                                    <span>Telefono:</span>
                                    @Html.EditorFor(model => model.SucTelefono, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SucTelefono, "", new { @class = "text-danger" })
                                </div>
                            </div>



                            <div class="form-group">
                                @*@Html.LabelFor(model => model.SucTelefono2, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <div class="col-md-4">
                                    <span>Telefono 2</span>
                                    @Html.EditorFor(model => model.SucTelefono2, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SucTelefono2, "", new { @class = "text-danger" })
                                </div>

                                @*@Html.LabelFor(model => model.SucTelefono3, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <div class="col-md-4">
                                    <span>Telefono 3</span>
                                    @Html.EditorFor(model => model.SucTelefono3, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SucTelefono3, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                                @*@Html.LabelFor(model => model.SucResponsable, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <div class="col-md-4">
                                    <span>SucResponsable</span>
                                    @Html.EditorFor(model => model.SucResponsable, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SucResponsable, "", new { @class = "text-danger" })
                                </div>

                                @*@Html.LabelFor(model => model.SucMts2, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <div class="col-md-4">
                                    <span>SucMts2</span>
                                    @Html.EditorFor(model => model.SucMts2, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SucMts2, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @*@Html.LabelFor(model => model.SucCantidadPersonal, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <div class="col-md-4">
                                    <span>SucCantidadPersonal</span>
                                    @Html.EditorFor(model => model.SucCantidadPersonal, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SucCantidadPersonal, "", new { @class = "text-danger" })
                                </div>

                                @*@Html.LabelFor(model => model.SucCedulaJuridica, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <div class="col-md-4">
                                    <span>SucCedulaJuridica</span>
                                    @Html.EditorFor(model => model.SucCedulaJuridica, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SucCedulaJuridica, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                                @*@Html.LabelFor(model => model.SucRazonSocial, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <div class="col-md-4">
                                    <span>SucRazonSocial</span>
                                    @Html.EditorFor(model => model.SucRazonSocial, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SucRazonSocial, "", new { @class = "text-danger" })
                                </div>

                                @*@Html.LabelFor(model => model.FechaApertura, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <div class="col-md-4">
                                    <span>FechaApertura</span>
                                    @Html.EditorFor(model => model.FechaApertura, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FechaApertura, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @*@Html.LabelFor(model => model.SucActivo, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <div class="col-md-4">
                                    <span>SucActivo</span>
                                    @Html.EditorFor(model => model.SucActivo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SucActivo, "", new { @class = "text-danger" })
                                </div>

                                @*@Html.LabelFor(model => model.ConsecutivoOrdenId, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <div class="col-md-4">
                                    <span>ConsecutivoOrdenId</span>
                                    @Html.EditorFor(model => model.ConsecutivoOrdenId, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ConsecutivoOrdenId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @*@Html.LabelFor(model => model.ConsecutivoAjusteId, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <div class="col-md-4">
                                    <span>ConsecutivoAjusteId</span>
                                    @Html.EditorFor(model => model.ConsecutivoAjusteId, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ConsecutivoAjusteId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-5">
                                    <input type="submit" value="Guardar" class="btn btn-circle btn-primary" />
                                </div>
                            </div>
                        </div>
                    }

                    <div>
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>


               
