@model BlackSys.Models.TblRepartidor

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblRepartidor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Repartidor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Repartidor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepartidorStatusOrden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepartidorStatusOrden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UltimaOrden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UltimaOrden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdenConsecutivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdenConsecutivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblSucursal.SucNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblSucursal.SucNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblEstadoActivo.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblEstadoActivo.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
