
@{
    ViewBag.Title = "DetallarArticulo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <head>
        <link href="~/assets/css/bstree.css" rel="stylesheet" />
        @*<script src="~/assets/js/jqueryTreeview.js"></script>*@
        <link href="~/Content/css/CSS Personalizado/FunkyRadio.css" rel="stylesheet" />


        <script src="~/Content/css/CSS Personalizado/zelect.js"></script>
        <link rel="stylesheet" href="http://css.cdn.tl/normalize.css" />
        <link href="~/Content/css/CSS Personalizado/CssDropList.css" rel="stylesheet" />
        @*<link href="~/Content/ScripByron/bootstrap-switch.min.css" rel="stylesheet" />

        <script src="~/Content/ScripByron/bootstrap-switch.min.js"></script>*@

        <link href="~/Content/BotonSwitch/highlight.css" rel="stylesheet" />
        <script src="~/Content/BotonSwitch/highlight.js"></script>
        <link href="~/Content/BotonSwitch/main.css" rel="stylesheet" />
        <script src="~/Content/BotonSwitch/main.js"></script>
        <script src="~/Content/ScripByron/TblArticulo.js"></script>


    </head>
    <body>
        <br>
        @using (Html.BeginForm("InsertarArticulo", "ArticuloMaster", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @*<form method="post" action="@Url.Action("InsertarArticulo")">*@


            @*@Html.AntiForgeryToken()*@
            @Html.ValidationSummary(true, "", new { @class = "text-danger text-title" })

            <div class="container">
                @*<h2></h2>*@
                <br>
                <!-- Nav tabs -->
                @*nav-pills*@
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#Detalles">DETALLES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#Precios">PRECIOS</a>
                    </li>
                    @*<li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#Menudeo">MENUDEO</a>
                    </li>*@
                
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#Galeria">GALERIA</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">

                    <div id="Detalles" class="container tab-pane active">
                        <br>
                        <div class="form form-bordered">

                            <div class="row">
                                <div class="col-md-2">
                                    <span>Generar Codigo:</span>
                                    <br />
                                    <div class="col-md-6 col-sm-2 col-md-2 hop">

                                        <input type="hidden" name="CodAuto" id="CodAuto" placeholder="Recibe contenido" class="form-control" hidden>
                                        <button type="button" class="btn btn-secondary" onclick="GenerarCodigo()">Codigo Auto</button>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <span></span>
                                    <br />
                                    <div class="col-md-6 col-sm-2 col-md-2 hop">


                                        <button type="button" class="btn btn-secondary" onclick="CodigoManual()">Codigo Manual</button>
                                    </div>
                                </div>


                            </div>
                            <br />
                            <div class="row">


                                <div class="col-md-6">
                                    @*<input type="text" name="Codigo" id="Codigo" placeholder="Recibe contenido" class="form-control" hidden>*@
                                    <span>Codigo:</span>
                                    <input id="Codigo" name="Codigo" type="text" class="form-control" placeholder="Articulo Nombre">
                                </div>
                                <div class="col-md-6">
                                    <span>Codigo Barra</span>
                                    <input id="ArticuloBarra" name="ArticuloBarra" type="text" class="form-control" placeholder="Codigo de Barra">
                                </div>

                            </div>

                            <br />

                            <br />

                            <div class="row">

                                <div class="col-md-12">
                                    <span>ArticuloNombre:</span>
                                    <input name="ArticuloNombre" type="text" class="form-control" placeholder="Nombre del Articulo">
                                </div>



                            </div>

                            <br />

                            <div class="row">

                                <div id="intro" class="col-md-6">
                                    <span>Casa:</span>
                                    @Html.DropDownList("CasaId", (IEnumerable<SelectListItem>)ViewBag.Casa, null, new { @class = "form-control" })

                                </div>

                                <div id="intro" class="col-md-6">
                                    <span>Departamento:</span>
                                    @Html.DropDownList("DepartamentoId", (IEnumerable<SelectListItem>)ViewBag.Departamento, null, new { @class = "form-control" })

                                </div>



                            </div>

                            <br />

                            <div class="row">
                                <div id="intro" class="col-md-6">
                                    <span>Categoria:</span>
                                    @Html.DropDownList("CategoriaId", (IEnumerable<SelectListItem>)ViewBag.Categoria, null, new { @class = "form-control" })

                                </div>

                                <div id="intro" class="col-md-6">
                                    <span>Grupo Terapeutico:</span>
                                    @Html.DropDownList("GrupoId", (IEnumerable<SelectListItem>)ViewBag.Grupo, null, new { @class = "form-control" })

                                </div>


                            </div>
                            <br />
                            <div class="row">
                                <div id="intro" class="col-md-6">
                                    <span>SubCategoria:</span>
                                    @Html.DropDownList("SubCategoriaId", (IEnumerable<SelectListItem>)ViewBag.SubCategoria, null, new { @class = "form-control" })

                                </div>

                                <div id="intro" class="col-md-6">
                                    <span>Tipo Uso:</span>
                                    @Html.DropDownList("Articulo_Tipo_Uso", (IEnumerable<SelectListItem>)ViewBag.TipoUso, null, new { @class = "form-control" })

                                </div>

                            </div>
                            <br />

                            <div class="row">
                                <div id="intro" class="col-md-6">
                                    <span>Proveedor:</span>
                                    @Html.DropDownList("ProveedorId", (IEnumerable<SelectListItem>)ViewBag.Proveedor, null, new { @class = "form-control" })

                                </div>

                                <div id="intro" class="col-md-6">
                                    <span>Sustituto:</span>
                                    @Html.DropDownList("Articulo_Sustituto_Id", (IEnumerable<SelectListItem>)ViewBag.Sustituto, null, new { @class = "form-control" })
                                </div>
                            </div>
                            <br />





                            <br />
                            <h4> Descripcion Fisica</h4>

                            <div class="row">
                                <div id="intro" class="col-md-6">
                                    <span>Color:</span>
                                    <input name="Color" type="text" class="form-control" placeholder="Color">

                                </div>

                                <div id="intro" class="col-md-6">
                                    <span>Tamaño:</span>
                                    <input name="Tamaño" type="text" class="form-control" placeholder="Tamaño">

                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6">

                                    <span>Existencia:</span>
                                    <input name="Existencia" type="text" class="form-control" placeholder="0" readonly>

                                </div>

                                <div class="col-md-6">
                                    <span>Cantidad Minima</span>
                                    <input name="ArticuloCantidadMinima" value="1" type="text" class="form-control" placeholder="1" readonly>
                                </div>

                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6">

                                    <span>Factor de conversion:</span>
                                    <input name="ArticuloFactorConv" type="text" class="form-control" placeholder="0" value="1">

                                </div>

                                <div class="col-md-6">
                                    <span>Unidad</span>
                                    <input name="Articulo_Unidad" value="1" type="text" class="form-control" placeholder="1" readonly>
                                </div>

                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6">

                                    <span>Alto:</span>
                                    <input name="Articulo_Alto" value="1" type="text" class="form-control" placeholder="Altura">

                                </div>

                                <div class="col-md-6">
                                    <span>Ancho:</span>
                                    <input name="Articulo_Ancho" value="1" type="text" class="form-control" placeholder="Ancho">

                                </div>


                            </div>

                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <span>Largo:</span>
                                    <input name="Articulo_Largo" value="0" type="text" class="form-control" placeholder="0">

                                </div>

                                <div class="col-md-6">
                                    <span>Articulo_Express:</span>
                                    <input name="Articulo_Express" type="text" value="1" class="form-control" placeholder="Venta Express">

                                </div>


                            </div>

                            <br />
                            <div class="row">

                                <div class="col-md-2">
                                    <span>Activo para la venta:</span>
                                    <div class="col-md-6 col-sm-2 col-md-2 hop">
                                        <input name="ArticuloActivoVenta" type="checkbox" data-off-text="NO" data-on-color="success" data-on-text="SI" checked="checked" class="BSswitch switch-small">

                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <span>Activo para compra:</span>
                                    <div class="col-md-6 col-sm-2 col-md-2 hop">
                                        <input name="ArticuloActivoCompra" type="checkbox" data-off-text="NO" data-on-color="success" data-on-text="SI" checked="checked" class="BSswitch switch-small">

                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <span>Aplica Regalia:</span>
                                    <div class="col-md-6 col-sm-2 col-md-2 hop">
                                        <input name="Articulo_Aplica_Regalia" type="checkbox" data-off-text="NO" data-on-color="success" data-on-text="SI" checked="checked" class="BSswitch switch-small">

                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <span>Express:</span>
                                    <br />
                                    <div class="col-md-6 col-sm-2 col-md-2 hop">
                                        <input name="Articulo_Express" type="checkbox" data-off-text="NO" data-on-color="success" data-on-text="SI" checked="checked" class="BSswitch switch-small">

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <span>Devuelve a Proveedor:</span>
                                    <div class="col-md-6 col-sm-2 col-md-2 hop">
                                        <input name="Articulo_Devuelve_Proveedor" type="checkbox" data-off-text="NO" data-on-color="success" data-on-text="SI" checked="checked" class="BSswitch switch-small">

                                    </div>
                                </div>

                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-2">
                                    <span>Precio se calcula por Margen</span>
                                    <div class="col-md-6 col-sm-2 col-md-2 hop">
                                        <input name="PrecioPorMargen" type="checkbox" data-off-text="NO" data-on-color="success" data-on-text="SI" checked="checked" class="BSswitch switch-small">

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <span>Articulo es Controlado</span>
                                    <div class="col-md-6 col-sm-2 col-md-2 hop">
                                        <input name="Controlado" type="checkbox" data-off-text="NO" data-on-color="success" data-on-text="SI" checked="checked" class="BSswitch switch-small">

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="box-body pad col-md-9">
                                    <span>ArticuloObservacion:</span>
                                    <textarea name="ArticuloObservacion" class="textarea" placeholder="No hay Observacion"
                                              style="width: 100%; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>

                                </div>

                            </div>



                        </div>


                    </div>

                    <div id="Precios" class="container tab-pane fade">
                        <br />
                        <div class="form form-bordered">
                            <div class="row">
                                <div class="col-md-3">
                                    <span>Costo Actual</span>
                                    <input name="ArticuloCosto" value="0" type="text" class="form-control" placeholder="0.00" readonly>
                                </div>

                                <div class="col-md-3">
                                    <span>AritculoPrecio</span>
                                    <input name="ArticuloPrecio" value="0" type="text" class="form-control" placeholder="0.00" readonly>
                                </div>

                                <div class="col-md-3" readonly>
                                    <span>Ultimo Costo</span>
                                    <input name="ArticuloCostoUlt" value="0" type="text" class="form-control" placeholder="0.00" readonly />
                                </div>
                                <div class="col-md-3">
                                    <span>Costo Promedio</span>
                                    <input name="ArticuloCostoProm" value="0" type="text" class="form-control" placeholder="0.00" readonly />
                                </div>
                            </div>

                            <br />
                            <div class="row">
                                <div class="col-md-3">
                                    <span>Limite de descuento 1</span>
                                    <input name="ArticuloLimiteDesc" value="0" type="text" class="form-control" placeholder="0.00">
                                </div>
                                <div class="col-md-3">
                                    <span>Limite de descuento 2</span>
                                    <input name="ArticuloLimiteDesc2" value="0" type="text" class="form-control" placeholder="0.00">
                                </div>
                                <div class="col-md-3">
                                    <span>Limite de descuento 3</span>
                                    <input name="ArticuloLimiteDesc3" value="0" type="text" class="form-control" placeholder="0.00">
                                </div>
                                <div class="col-md-3">
                                    <span>Calculo Margen</span>
                                    <input name="Articulo_Margen" value="0" type="text" class="form-control" placeholder="0.00">
                                </div>
                            </div>
                            <br />


                            <div class="row">

                                <div class="col-md-2">
                                    <span>Precio 1</span>
                                    <input name="ArticuloPrecio1" value="0.00" type="text" class="form-control" placeholder="0.00" />
                                </div>

                                <div class="col-md-2">
                                    <span>Precio 2:</span>
                                    <input name="ArticuloPrecio2" value="0.00" type="text" class="form-control" placeholder="0.00" />
                                </div>
                                <div class="col-md-2">
                                    <span>Precio 3:</span>
                                    <input name="ArticuloPrecio3" value="0.00" type="text" class="form-control" placeholder="0.00" />
                                </div>
                                <div class="col-md-2">
                                    <span>Precio 4:</span>
                                    <input name="ArticuloPrecio4" value="0.00" type="text" class="form-control" placeholder="0.00" />
                                </div>
                                <div class="col-md-2">
                                    <span>Precio 5:</span>
                                    <input name="ArticuloPrecio5" value="0.00" type="text" class="form-control" placeholder="0.00" />
                                </div>

                                <div class="col-md-2">
                                    <span>Precio Fijo</span>
                                    <input name="ArticuloPrecioFijo" value="0.00" type="text" class="form-control" placeholder="0.00" />
                                </div>

                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-3">
                                    <span>Limite de descuento</span>
                                    <input name="ArticuloLimiteDesc" value="0.00" type="text" class="form-control" placeholder="0.00" readonly>
                                </div>
                                <div class="col-md-3">
                                    <span>Limite de descuento</span>
                                    <input name="ArticuloLimiteDesc2" value="0.00" type="text" class="form-control" placeholder="0.00" readonly>
                                </div>
                                <div class="col-md-3">
                                    <span>Limite de descuento</span>
                                    <input name="ArticuloLimiteDesc3" value="0.00" type="text" class="form-control" placeholder="0.00" readonly>
                                </div>

                            </div>
                            <br />

                            @*<div class=" row">
                    <div class="col-md-6">

                        <input type="text" class="form-control" placeholder="Username" />
                    </div>
                </div>*@

                            <br />

                            <div class="row">

                                <div class="col-md-2">
                                    <span>Paga Iva:</span>
                                    <br />
                                    <div class="col-md-6 col-sm-2 col-md-2 hop">
                                        <input name="PagaIva" type="checkbox" data-off-text="NO" data-on-color="success" data-on-text="SI" checked="checked" class="BSswitch switch-small">

                                    </div>

                                </div>

                                <div class="col-md-2">
                                    <span>Sumar IVA a Precio:</span>
                                    <div class="col-md-6 col-sm-2 col-md-2 hop">
                                        <input name="SumaIvaPrecio" type="checkbox" data-off-text="NO" data-on-color="success" data-on-text="SI" checked="checked" class="BSswitch switch-small">

                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <span>Precio por Margen:</span>
                                    <div class="col-md-6 col-sm-2 col-md-2 hop">
                                        <input name="Articulo_Margen" type="checkbox" data-off-text="NO" data-on-color="success" data-on-text="SI" checked="checked" class="BSswitch switch-small">
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <span>Venta Bajo Costo</span>
                                    <div class="col-md-6 col-sm-2 col-md-2 hop">
                                        <input name="ArticuloVentaBajoCosto" type="checkbox" data-off-text="NO" data-on-color="success" data-on-text="SI" checked="checked" class="BSswitch switch-small">
                                    </div>
                                </div>

                            </div>

                            <br />
                        </div>


                    </div>
                    @*<div id="Menudeo" class="container tab-pane fade">
            <br>
            <h3>Menu 2</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>*@

                    <div id="Menudeo" class="container tab-pane fade">
                        <br />
                        <div class="form form-bordered">
                            <div class="row">
                                <div class="col-md-3">
                                    <span>Costo Actual</span>
                                    <input type="text" class="form-control" placeholder="CostoActual">
                                </div>



                            </div>

                        </div>
                    </div>

        
                    <br />
                    <div id="Galeria" class="container tab-pane fade">


                        <div class="form-group">
                            <label for="exampleInputFile">Subir imagen </label>
                            <input type="file" name="file">
                        </div>
                        @*<button type="submit" class="btn-circle btn-primary">Actualizar Imagen</button>*@




                    </div>
                </div>
                <div class="form-group">
                    <a>  </a>  <button type="submit" class="btn btn-circle  btn-primary "><i class="fa fa-clipboard"></i> Guardar</button>

                </div>
            </div>


        }
     
      
       

    </body>

