@model List<BlackSys.Models.W_ConsultarClientesById_Result>

@{
    ViewBag.Title = "DetallarCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <head>
        <link href="~/assets/css/bstree.css" rel="stylesheet" />
        <script src="~/assets/js/jqueryTreeview.js"></script>
        <link href="~/Content/css/CSS Personalizado/FunkyRadio.css" rel="stylesheet" />
    </head>

    <body>
       
                    <h2>Datos Cliente</h2>
                    <br>
                    <!-- Nav tabs -->
                    @*nav-pills*@
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#Detalles">DETALLES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Precios">PRECIOS</a>
                        </li>
                        @*<li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Menudeo">MENUDEO</a>
                </li>*@
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Credito">Credito</a>
                        </li>

                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        @foreach (var item in Model)
                         {
                            <div id="Detalles" class="container tab-pane active">
                                <br >
                                <div class="form form-bordered">

                                    <div class="row">
                                        <div class="col-md-4">
                                            <span>Codigo:</span>
                                            <input type="text" class="form-control" placeholder="Username" value="@item.Codigo">
                                        </div>
                                        <div class="col-md-5">
                                            <span>Nombre</span>
                                            <input type="text" class="form-control" placeholder="Username" value="@item.Nombre">
                                        </div>
                                    </div>

                                    <br />

                                    <div class="row">

                                        <div class="col-md-4">
                                            <span>Cedula:</span>
                                            <input type="text" class="form-control" placeholder="Username" value="@item.Cedula">
                                        </div>

                                        <div class="col-md-5">
                                            <span>Numero RUC:</span>
                                            <input type="text" class="form-control" placeholder="Username" value="@item.NumeroRuc">
                                        </div>

                                    </div>

                                    <br />

                                    <div class="row">
                                        <div class="col-md-3">
                                            <span>Telefono:</span>
                                            <input type="text" class="form-control" placeholder="Username" value="@item.Telefono1">
                                        </div>

                                        <div class="col-md-3">
                                            <span>Celular:</span>
                                            <input type="text" class="form-control" placeholder="Username" value="@item.Telefono2">
                                        </div>

                                        <div class="col-md-3">
                                            <span>Otro contacto:</span>
                                            <input type="text" class="form-control" placeholder="Username" value="@item.Telefono3">
                                        </div>

                                    </div>

                                    <br />

                                    <div class="row">
                                        <div class="col-md-3">
                                            <span>Pais:</span>
                                            <input type="text" class="form-control" placeholder="Username" value="@item.Localidad">
                                        </div>

                                        <div class="col-md-3">
                                            <span>Tipo Cliente:</span>
                                            <input type="text" class="form-control" value="@item.Nombre_TipoCliente">
                                        </div>

                                        <div class="col-md-3">
                                            <span>Activo:</span>
                                            <input type="text" class="form-control" value="@item.Activo">
                                        </div>

                                    </div>

                                    <br />

                                    <div class="row">
                                        <div class="box-body pad col-md-9">
                                            <span>Direccion:</span>
                                            <textarea name="Direccion" class="textarea" placeholder="@item.Direccion" 
                                                      style="width: 100%; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div id="Precios" class="container tab-pane fade">
                                <br>
                                <div class="form-group">
                                    <div id="intro" class="col-md-4">
                                        <span>Tipo de Cliente:</span>
                                        @*<h4 class="control-label col-md-8">Lista de  Articulo</h4>*@
                                        @Html.DropDownList("Id_TipoCliente", (IEnumerable<SelectListItem>)ViewBag.clientes, null, new { @class = "form-control" })
                                    </div>

                                    <div id="intro" class="col-md-4">
                                        <span>Tipo de Precio:</span>
                                        @*<h4 class="control-label col-md-8">Lista de  Articulo</h4>*@
                                        @Html.DropDownList("Id_TipoPrecio", (IEnumerable<SelectListItem>)ViewBag.precio, null, new { @class = "form-control" })
                                    </div>
                                </div>

                               
                            </div>

                            <div id="Credito" class="container tab-pane fade">
                                <br />
                                <div class="form form-bordered">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <span>Saldo Actual:</span>
                                            <input type="text" class="form-control" placeholder="Username" value="@item.CreditoSaldo">
                                        </div>

                                        <div class="col-md-4">
                                            <span>Limite de Credito:</span>
                                            <input type="text" class="form-control" placeholder="Username" value="@item.LimiteCredito">
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <span>Saldo Moroso:</span>
                                            <input type="text" class="form-control" placeholder="Username" value="@item.CreditoSaldoMoroso">
                                        </div>

                                        <div class="col-md-4">
                                            <span>Dias Habiles:</span>
                                            <input type="text" class="form-control" placeholder="Username" value="@item.DiasCredito">
                                        </div>
                                    </div>
                                </div>
                            </div>
                         }
                    </div>
                       
</body>


