@model List<BlackSys.Models.W_ListarClientesNotificar_Result>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*Neccesarios para Exportar Js*@
    <script src="~/assets/js/popper.min.js"></script>
    <link href="~/assets/Exportar Js/tableexport.css" rel="stylesheet" />

</head>
<div id="resultado_1"></div>
<hr>
<div id="resultado_2"></div>
<div class="row">

    <div class="col-md-8">

        <table class="table table-striped" id="my-tableDino23">
            <thead>
                <tr>
                    <th>N° Factura</th>
                    <th>Codigo</th>
                    <th>Descripcion</th>
                    <th>Cliente_Nombre</th>
                 

                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
            {
                    <tr>
                        <td class="numero">@Html.DisplayFor(modelItem => item.Factura_Id)</td>
                        <td class="numero">@Html.DisplayFor(modelItem => item.Articulo_Id)</td>
                        <td class="numero">@Html.DisplayFor(modelItem => item.Detalle_Articulo_Nombre)</td>
                        <td class="numero">@Html.DisplayFor(modelItem => item.Cliente_Nombre)</td> 
                        <td class="numero" hidden>@Html.DisplayFor(modelItem => item.Cliente_Celular)</td>   
                        <td class="numero" hidden>@Html.DisplayFor(modelItem => item.Cliente_Telefono)</td>                     
                        <td class="numero" hidden>@Html.DisplayFor(modelItem => item.Cliente_Email)</td>    
                        <td class="numero" hidden>@Html.DisplayFor(modelItem => item.Suc_Direccion)</td>  
                        <td class="numero" hidden>@Html.DisplayFor(modelItem => item.Suc_Telefono)</td> 
                        <td class="numero" hidden>@Html.DisplayFor(modelItem => item.Suc_Nombre)</td>                                                                      
                        <td>
                         
                         
                            <button type="button" onclick="obtener()" class="boton">Info</button>
                        </td>


                    </tr>
                }

            </tbody>
        </table>


    </div>


    <div class="col-lg-3">
        @*<a href="compose.html" class="btn btn-primary btn-block margin-bottom">Compose</a>*@

        <div class="box box-solid">

            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active">
                        <a href="#">
                            <i  class="fa fa-database"> Datos del Cliente</i>
                            <span class="label label-primary pull-right"></span>
                        </a>
                    </li>
                    <li>

                        <a id="NombreLista" href="#" class="fa fa-info">
                        <i ></i> Nombre
                        </a>
                    </li>
                    <li><a id="Email" href="#"><i class="fa fa-file-text-o"></i>Email</a></li>
                    <li>
                        <a id="cCelular" onclick="Chat()" class="fa fa-whatsapp" style="background-color: #25d366; color: white;"><i ></i> Celular<span></span></a>
                    </li>
                    <li><a id="Telefono" href="#" class="fa fa-telegram"><i ></i>Telefono</a></li>
                </ul>
            </div>
            <!-- /.box-body -->
        </div>

    </div>


</div>
<input type="hidden" name="Detalle_Articulo_Nombre" id="Detalle_Articulo_Nombre" placeholder="Recibe contenido" class="form-control">
<input type="hidden" name="Suc_Direccion" id="Suc_Direccion" placeholder="Recibe contenido" class="form-control">
<input type="hidden" name="Suc_Telefono" id="Suc_Telefono" placeholder="Recibe contenido" class="form-control" hidden>
<input type="hidden" name="Suc_Nombre" id="Suc_Nombre" placeholder="Recibe contenido" class="form-control" hidden>
<input type="text" name="Celularc" id="Celularc" placeholder="Recibe contenido" class="form-control" hidden>



@*<input type="text" id="Incidente"/>*@
<div class="box">
    <div class="box-header">
        <h3 class="box-title">

            Mensaje Automatico
            <small></small>
        </h3>
        <!-- tools box -->
        @*<div class="pull-right box-tools">
            <button type="button" class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-default btn-sm" data-widget="remove" data-toggle="tooltip"
                    title="Remove">
                <i class="fa fa-times"></i>
            </button>
        </div>*@
        <!-- /. tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body pad" style="width:300px">

        <textarea id="Mensaje" class="textarea" placeholder=""
                  style="width:300px; height: 100px; font-size: 15px; line-height: 20px; border: 1px solid #dddddd; padding: 20px;"></textarea>

    </div>
</div>

<script>

        $('#my-tableDino23').dynatable({
            table: {
                defaultColumnIdStyle: 'dashed'
            }
        });


</script>







<script>

    function obtener() {


        $("table tbody tr").click(function () {
            var total = $(this).find("td:eq(3)").text();
            document.getElementById('NombreLista').value = total
            document.getElementById('NombreLista').text = 'Nombre: ' + total

            var cCelular = $(this).find("td:eq(4)").text();
            document.getElementById('cCelular').value = cCelular
            document.getElementById('cCelular').text = 'Celular: ' + cCelular

            document.getElementById('Celularc').value = '505'+ cCelular
            document.getElementById('Celularc').text = '505' + cCelular

            var total = $(this).find("td:eq(5)").text();
            document.getElementById('Telefono').value = total
            document.getElementById('Telefono').text = 'Telefono: ' + total

            var total = $(this).find("td:eq(6)").text();
            document.getElementById('Email').value = total
            document.getElementById('Email').text = 'Email: ' + total

            var total = $(this).find("td:eq(2)").text();
            document.getElementById('Detalle_Articulo_Nombre').value = total
            document.getElementById('Detalle_Articulo_Nombre').text = total


            var total = $(this).find("td:eq(7)").text();
            document.getElementById('Suc_Direccion').value = total
            document.getElementById('Suc_Direccion').text = total


            var total = $(this).find("td:eq(8)").text();
            document.getElementById('Suc_Telefono').value = total
            document.getElementById('Suc_Telefono').text = total

            var total = $(this).find("td:eq(9)").text();
            document.getElementById('Suc_Nombre').value = total
            document.getElementById('Suc_Nombre').text = total

            var Articulo = $('#Detalle_Articulo_Nombre').val();
            var Telefono = $('#Suc_Telefono').val();
            var Direccion = $('#Suc_Direccion').val();
            var SucNombre = $('#Suc_Nombre').val();

            if (cCelular != "") {
              
            

                var Mensaje = new String("Estimado Cliente, Super Farmacias Xolotlan le recuerda la compra de su medicamento " + " " + Articulo + " " + " puede llamar a nuestro telefono " + Telefono + " o visitarnos en " + SucNombre);

            document.getElementById('Mensaje').text = Mensaje
            document.getElementById('Mensaje').value = Mensaje

            }
            //alert(total);
        });

           
     
            }
</script>



<script>
    function Chat() 
    {

        var Numero = $('#Celularc').val();
    var Mensaje = $('#Mensaje').val();
  
   
            window.open("https://api.whatsapp.com/send?phone=" + Numero + "&text=" + Mensaje);
    }
</script>