@model MiPrimerProyectoMVC.Model.TblTipoProblema

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLte.cshtml";
}

<br />


<form method="post" action='@Url.Action("Create", "TblTipoProblemas")'>
    <div class="container">
        <div class="panel panel-primary" style="width:750px;margin:0px auto">


            <div class="panel-heading">Registro de Tipos de Problemas</div>
            <div class="panel-body">

             
               

                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
         
                <br />

                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">Activo o Inactivo</label>
                        <select class="custom-select mr-sm-2" name="Activo">
                            <option value="SI" selected>SI</option>
                            @*<option value="SI">SI</option>*@
                            <option value="NO">NO</option>

                        </select>
                    </div>
                </div>
                <br />

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar" class="btn btn-default" />
                    </div>
                </div>
            </div>


            <div>
                @Html.ActionLink("Regresar al Listado", "Index")
            </div>
        </div>
    </div>

</form>