@model MiPrimerProyectoMVC.Model.TblTicketEncabezado

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLte.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TblTicketEncabezado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UsuarioId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Incidente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Incidente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaTicketInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaTicketInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaTicketModificado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaTicketModificado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaTicketfin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaTicketfin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblEstado.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblEstado.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblOperador.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblOperador.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblPrioridad.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblPrioridad.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblSubTipoProblema.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblSubTipoProblema.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblTipoProblema.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblTipoProblema.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblUsuarioCliente.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblUsuarioCliente.Codigo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NTicket }) |
    @Html.ActionLink("Back to List", "Index")
</p>
