@model MiPrimerProyectoMVC.Model.TblTicketEncabezado
@{
    Layout = null;
}

<head>
    @*<script src="~/Content/Modal/jquery.min.js"></script>
    <script src="~/Content/ScripByron/TicketEncabezado.js"></script>
    <script src="~/Content/Modal/modernizr-2.8.3.js"></script>
    <script src="~/Content/Modal/bootstrap.min.js"></script>
    <script src="~/Content/ScripByron/respond.js"></script>
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Modal/Site.css" rel="stylesheet" />*@
</head>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit2</title>
</head>
<body>

    <div class="modal-header">
        <button class="btn btn-sm pull-right btn-danger" type="button" id="btnCloseModal" data-dismiss="modal">X</button>
        <h2>Actualizar </h2>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm("Edit2", "TblTicketEncabezado", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
       
                <div class="form-group">
                        @Html.LabelFor(model => model.EstadoId, "EstadoId", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                        @Html.DropDownList("EstadoId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TblEstado.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


                <div class="form-group hidden">
                    @Html.LabelFor(model => model.NTicket, "NTicket", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NTicket, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NTicket, "", new { @class = "text-danger" })
                    </div>
                </div>


        
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-success" onclick="Edit2(@Model.NTicket,@Model.EstadoId)">Guardar</button>
            </div>
        }
    </div>
</body>


</html>
<script>

    $('#modalCreate').on('shown.bs.modal', function () {
        $('#EstadoId').focus()
    })
</script>