@model IEnumerable<MiPrimerProyectoMVC.Model.TblTicketEncabezado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLte.cshtml";
}

<head>
 
</head>

<br />

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <strong class="box-title ">Registro de Actividades </strong> <h4>@DateTime.Now</h4>

                @*<div class="box-tools">*@
                @*<div class="input-group input-group-sm hidden-xs" style="width: 150px;">
                    @* <input type="text" name="table_search" class="form-control pull-right" placeholder="Buscar">*@

                @*<h3>@DateTime.Now</h3>*@


                @*</div>*@
            </div>
        </div>
        <!-- /.box-header -->
        @*<div class="box-body table-responsive no-padding">*@
        <table class="table table-striped" id="my-tableDino23" style="width:100%">
            @*<table id="example" class="cell-border" style="width:100%">*@
            <thead>
                <tr>
                    <th>Numero</th>
                    <th>Solicitado Por</th>
                    <th>@Html.DisplayNameFor(model => model.Incidente)</th>
                    <th>Generado</th>
                    <th>Asignado</th>
                    <th>Prioridad</th>
                    <th>Tipo de Problema</th>
                    <th>Sub Tipo Problema</th>
                    <th>Estado</th>

                    @*<th>Visto



                        </th>*@
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.NTicket)</td>


                        <td>
                            @Html.DisplayFor(modelItem => item.TblUsuarioCliente.Nombre)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Incidente)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.FechaTicketInicio)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.TblOperador.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TblPrioridad.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TblTipoProblema.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TblSubTipoProblema.Nombre)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.TblEstado.Nombre)
                        </td>

                        @{
                            int Vist = Convert.ToInt32(item.Visto);
                            if (Vist == 0)
                            {
                                <td>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-envelope-o"></i>
                                        <span class="label label-success">Nuevo</span>
                                    </a>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i></i>
                                        <span class="label label-success"></span>
                                    </a>
                                </td>
                            }
                        }

                        <td>

                            @Html.ActionLink("Seguimiento", "ComentariosTiket", new { id = item.NTicket }, new { @class = "btn btn-info" })
                            @*@Html.ActionLink("Editar", "Edit", new { id = item.NTicket }, new { @class = "btn btn-info" })*@

                            @*<div class="modal-footer">*@
                            @*<button type="button" class="btn btn-sm btn-primary" data-toggle="modal" onclick="RenderActions('/TblTicketEncabezado/Edit2/' + @item.NTicket)" data-target="#modalCreate">Edit</button>*@ |
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalCreate" onclick="RenderActions('/TblTicketEncabezado/Edit2/' + @item.NTicket)">Actualizar</button>
                            @*</div>*@

                        </td>

                    </tr>
                            }

            </tbody>
        </table>
    </div>
</div>

        <div id="modalCreate" class="modal fade" role="dialog" data-backdrop="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div id="OpenDialog" class="modal-body">
                    </div>
                </div>
            </div>
        </div>

        <script>

                $('#my-tableDino23').dynatable({
                    table: {
                        defaultColumnIdStyle: 'camelCase'
                    }
                });

        </script>



    










