@model List < BlackSys.Models.W_MonitoCallPrincipalCallXOperador_Result>
@{
    ViewBag.Title = "MonitorGeneralOperador";
    Layout = "~/Views/Shared/_Loyout2.cshtml";
}

<head>
    <script src="~/assets/js/Reloj.js"></script>
    <link href="~/assets/css/StyloByron.css" rel="stylesheet" />
    <script src="~/assets/js/ScripMonitorByron.js"></script>
  
</head>



@*<div class="row">
        <div class="col-md-8"></div>
        <div class="col-lg-4">

            <div class="widget">

                <div class="reloj">
                    <p id="horas" class="horas"></p>
                    <p>:</p>
                    <p id="minutos" class="minutos"></p>
                    <p>:</p>
                    <div class="cajaSegundos">

                        <p id="segundos" class="segundos"></p>
                        <p id="ampm" class="ampm"></p>
                    </div>
                </div>
            </div>

        </div>
    </div>*@
@*<div class="form-group">


        @Html.DropDownList("Nuevos", (IEnumerable<SelectListItem>)ViewBag.Nuevos, null, new { id = "Articulo", @class = "form-control" })
        <div class="help-block with-errors"></div>
        <span id="span1"></span>
    </div>*@
<div class="row">

    <div class="col-md-2">
        <button type="button" class="btn btn-primary btn-circle btn-lg"><i class="glyphicon glyphicon-list"> Todos @ViewBag.Totales</i></button>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-danger btn-circle btn-lg"><i class="glyphicon glyphicon-time"> Retrasadas  @ViewBag.Retrasadas</i></button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="PartialOrdenes">

            @Html.Partial("ListarOrdenesOperador")

        </div>

    </div>

</div>


<script>

        setInterval('refrescar()', 10000);
          </script>


    <script>
        function refrescar() {



            $("#PartialOrdenes").load('@Url.Action("ListarOrdenesOperador", "Callcenter")')
            };

    </script>


@*<script>

        setInterval('refrescar()', 60000);
          </script>


    <script>
        function refrescar() {



                $("#PartialOrdenes").load('@Url.Action("ListarOrdenes", "Callcenter")')
            };

    </script>*@


@*<script>
                $(function () {
                    $("#btnCargar").click(function () {
                        //$(this).prop("disabled","disabled");
                        var url = "@Url.Action("ListarOrdenes", "Callcenter")";
                        $.get(url).done(function (data) {
                            $("#PartialOrdenes").append(data);
                        });


                    });
                });
    </script>*@


@*<script>
       $(document).ready(function() {
           var concatValor = '';

           $("#Nuevos option").each(function () {
            if ($(this).val() != "" ){
                concatValor += $(this).val() + ' - ' + $(this).text() + '\n';


                alertify.success($(this).val() + ' - ' + $(this).text() + '\n');

            }
         });
           if (concatValor != '')
           {
               SonidoFinal()
               alertify.success(concatValor);
           }

       });
    </script>*@
@*<script>
        $(document).ready(function() {
          setInterval(function() {
              cache_clear();
              Notificar();
          }, 10000);
    });
    </script>

    <script>
    function cache_clear() {
      window.location.reload(true);

    }
    </script>*@
@*<script>
      function Notificar() {
           var concatValor = '';

         $("#Nuevos option").each(function () {
            if ($(this).val() != "" ){
                //concatValor += $(this).val() + ' - ' + $(this).text() + '\n';
                SonidoFinal()
                alertify.success($(this).val() + ' - ' + $(this).text() + '\n');


            }
         });
      }
    </script>*@


@*<script>
       $(document).ready(function() {
           var concatValor = '';

         $("#Nuevos option").each(function () {
            if ($(this).val() != "" ){
                //concatValor += $(this).val() + ' - ' + $(this).text() + '\n';
                SonidoFinal()
                alertify.success($(this).val() + ' - ' + $(this).text() + '\n');


            }
         });


       });
    </script>*@


@*<script>
        var audio = new Audio('/assets/Sonidos/mensaje.mp3');  // Create audio object and load desired file.
        function SonidoFinal() {
            audio.pause();
            audio.currentTime = 0;
            audio.play();
        }


    </script>*@















@*<script>
        $(document).ready(function () {
            setInterval(function () {
                cache_clear()
            }, 10000);
        });

    </script>*@

@*<script>
        function cache_clear() {
            window.location.reload(true);
            // window.location.reload(); use this if you do not remove cache
        }
    </script>*@
